<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="mybatis.mapper.System">     
	<!--     account management start -->
    <insert id="addAccount" parameterType="com.comverse.timesheet.web.bean.system.Account" useGeneratedKeys="true" keyProperty="IID"> 
        INSERT INTO AACCOUNT (NNAME,PPASSWORD,LLOCKEND_TIME,LLOGIN_NUMBER,PPHONENUMBER,EEMAIL,DDESC,CCREATE_TIME) 
        VALUES(#{name},#{password},#{lockEndTime},#{loginNumber},#{phoneNumber},#{email},#{desc},#{createTime}) 
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
             SELECT LAST_INSERT_ID() AS id  
        </selectKey>  
    </insert>
    <resultMap id="Account" type="com.comverse.timesheet.web.bean.system.Account">
	     <id column="IID" property="id" />
	     <result column="NNAME" property="name" />
	     <result column="PPASSWORD" property="password" />
	     <result column="LLOCKEND_TIME" property="lockEndTime" />
	     <result column="LLOGIN_NUMBER" property="loginNumber" />
	     <result column="PPHONENUMBER" property="phoneNumber" />
	     <result column="EEMAIL" property="email" />
	     <result column="DDESC" property="desc" />
	     <result column="CCREATE_TIME" property="createTime" />
	</resultMap>
	<resultMap type="com.comverse.timesheet.web.bean.system.Account" id="AccountRoleMap" extends="Account">
	 	<collection property="roleList" ofType="com.comverse.timesheet.web.bean.system.Role">
	 		<id column="RR_ID" property="id" />
	     	<result column="RR_NAME" property="name" />
	     	<result column="RR_DESC" property="desc" />
	 	
	 	</collection>
	</resultMap>
    <select id="selectAccountByNull" resultMap="AccountRoleMap">
        SELECT  A.IID,A.NNAME,A.PPASSWORD,A.LLOCKEND_TIME,A.LLOGIN_NUMBER,A.PPHONENUMBER,A.EEMAIL,A.DDESC,A.CCREATE_TIME,R.IID AS RR_ID ,R.DDESC AS RR_DESC,R.NNAME AS RR_NAME
		  FROM AACCOUNT A LEFT JOIN ACCOUNT_RROLE_RELATION ARR ON A.IID = ARR.AACCOUNT_ID LEFT JOIN RROLE R  ON ARR.RROLE_ID = R.IID ORDER BY A.CCREATE_TIME DESC
    </select>
    <select id="selectAccountById" resultMap="AccountRoleMap">
        SELECT  A.IID,A.NNAME,A.PPASSWORD,A.LLOCKEND_TIME,A.LLOGIN_NUMBER,A.PPHONENUMBER,A.EEMAIL,A.DDESC,A.CCREATE_TIME,R.IID AS RR_ID ,R.DDESC AS RR_DESC,R.NNAME AS RR_NAME
		  FROM AACCOUNT A LEFT JOIN ACCOUNT_RROLE_RELATION ARR ON A.IID = ARR.AACCOUNT_ID LEFT JOIN RROLE R  ON ARR.RROLE_ID = R.IID WHERE A.IID=#{accountId}
    </select>
    <delete id="deleteAccount">
    	  DELETE FROM AACCOUNT WHERE IID=#{accountId}
    </delete> 
    <update id="updateAccount"  parameterType="com.comverse.timesheet.web.bean.system.Account" >
    	UPDATE AACCOUNT
    	<set>
    		<if test="name!=null">
	   			NNAME=#{name}
	   		</if>
	   		<if test="password!=null">
	   			, PPASSWORD=#{password}
	   		</if>
	   		<if test="phoneNumber!=0">
	   			, PPHONENUMBER=#{phoneNumber}
	   		</if> 
	   		<if test="email!=null">
	   			, EEMAIL=#{email}
	   		</if>  
	   		<if test="desc!=null">
	   			, DDESC=#{desc}
	   		</if>  
   		</set>
   		<where>IID=#{id}</where>
    </update>
    <insert id="addAccountRoleRelation" useGeneratedKeys="true" parameterType="java.util.List"> 
        INSERT INTO ACCOUNT_RROLE_RELATION (AACCOUNT_ID,RROLE_ID) VALUES
         <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.account.id},#{item.role.id})   
    	</foreach>  
    </insert>
    <delete id="deleteAccountRoleRelation">
    	  DELETE FROM ACCOUNT_RROLE_RELATION WHERE AACCOUNT_ID=#{accountId}
    </delete> 
    <!--     account management end -->
    <!--     role management start -->
    <insert id="addRole" parameterType="com.comverse.timesheet.web.bean.system.Role" useGeneratedKeys="true" keyProperty="IID"> 
        INSERT INTO RROLE (NNAME,DDESC,CCODE,CCREATE_TIME) VALUES(#{name},#{desc},#{code},#{createTime}) 
         <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
             SELECT LAST_INSERT_ID() AS id  
        </selectKey>  
    </insert>
    <resultMap id="Role" type="com.comverse.timesheet.web.bean.system.Role">
	     <id column="IID" property="id" />
	     <result column="NNAME" property="name" />
	     <result column="DDESC" property="desc" />
	     <result column="CCODE" property="code" />
	     <result column="CCREATE_TIME" property="createTime" />
	</resultMap>
	<resultMap type="com.comverse.timesheet.web.bean.system.Role" id="RolePermissionMap" extends="Role">
	 	<collection property="permissionList" ofType="com.comverse.timesheet.web.bean.system.Permission">
	 		<id column="PP_ID" property="id" />
	     	<result column="PP_NAME" property="name" />
	     	<result column="PP_DESC" property="desc" />
	 		<result column="PP_CODE" property="code" />
	 	</collection>
	</resultMap>
    <select id="selectRoleByNull" resultMap="RolePermissionMap">
   		SELECT  R.IID , R.NNAME,R.DDESC,R.CCODE,R.CCREATE_TIME,P.IID AS PP_ID,P.NNAME AS PP_NAME, P.DDESC AS PP_DESC,P.CCODE AS PP_CODE FROM RROLE R LEFT JOIN RROLE_PERMISSION_RELATION RPR 
   			ON R.IID = RPR.RROLE_ID LEFT JOIN PPERMISSION P  ON RPR.PPERMISSION_ID = P.IID ORDER BY R.CCREATE_TIME DESC
    </select>
    <select id="selectRoleById" resultMap="RolePermissionMap">
   		 SELECT  R.IID , R.NNAME,R.DDESC,R.CCODE,R.CCREATE_TIME,P.IID AS PP_ID,P.NNAME AS PP_NAME, P.DDESC AS PP_DESC,P.CCODE AS PP_CODE FROM RROLE R LEFT JOIN RROLE_PERMISSION_RELATION RPR 
   			ON R.IID = RPR.RROLE_ID LEFT JOIN PPERMISSION P  ON RPR.PPERMISSION_ID = P.IID WHERE R.IID=#{roleId}
    </select>
    <delete id="deleteRole">
    	  DELETE FROM RROLE WHERE IID=#{roleId}
    </delete> 
    <update id="updateRole"  parameterType="com.comverse.timesheet.web.bean.system.Role" >
    	UPDATE RROLE
    	<set>
    		<if test="name!=null">
	   			NNAME=#{name}
	   		</if>
	   		<if test="desc!=null">
	   			, DDESC=#{desc}
	   		</if>
	   		<if test="code!=0">
	   			, CCODE=#{code}
	   		</if>
   		</set>
   		<where>IID=#{id}</where>
    </update>
    <insert id="addRolePermissionRelation" useGeneratedKeys="true" parameterType="java.util.List"> 
        INSERT INTO RROLE_PERMISSION_RELATION (RROLE_ID,PPERMISSION_ID) VALUES
         <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.role.id},#{item.permission.id})   
    	</foreach>  
    </insert>
    <delete id="deleteRolePermissionRelation">
    	  DELETE FROM RROLE_PERMISSION_RELATION WHERE RROLE_ID=#{roleId}
    </delete> 
    <!--     role management end -->
    <!--     Permission management start -->
    <resultMap id="Permission" type="com.comverse.timesheet.web.bean.system.Permission">
	     <id column="IID" property="id" />
	     <result column="NNAME" property="name" />
	     <result column="DDESC" property="desc" />
	     <result column="CCODE" property="code" />
	</resultMap>
    <select id="selectPermissionByNull" resultMap="Permission">
        SELECT * FROM PPERMISSION
    </select>
    <!--     Permission management end -->
    <!--     IP address management start -->
    <insert id="addAccountIp" parameterType="com.comverse.timesheet.web.bean.system.AccountIp" useGeneratedKeys="true" keyProperty="IID"> 
        INSERT INTO IP_MANAGEMENT (AACCOUNT_NAME,IIP,NNETMASK,CCREATE_TIME) VALUES(#{accountName},#{ip},#{netmask},#{createTime}) 
    </insert>
    <resultMap id="AccountIp" type="com.comverse.timesheet.web.bean.system.AccountIp">
	     <id column="IID" property="id" />
	     <result column="IIP" property="ip" />
	     <result column="NNETMASK" property="netmask" />
	     <result column="AACCOUNT_NAME" property="accountName" />
	     <result column="CCREATE_TIME" property="createTime" />
	</resultMap>
    <select id="selectAccountIpByNull" resultMap="AccountIp">
        SELECT * FROM IP_MANAGEMENT ORDER BY CCREATE_TIME DESC
    </select>
    <select id="selectAccountIpById" resultMap="AccountIp">
        SELECT * FROM IP_MANAGEMENT WHERE IID=#{accountIpId}
    </select>
    <delete id="deleteAccountIp">
    	  DELETE FROM IP_MANAGEMENT WHERE IID=#{accountIpId}
    </delete> 
    <update id="updateAccountIp"  parameterType="com.comverse.timesheet.web.bean.system.AccountIp" >
    	UPDATE IP_MANAGEMENT
    	<set>
    		<if test="ip!=null">
	   			IIP=#{ip}
	   		</if>
	   		<if test="netmask!=null">
	   			, NNETMASK=#{netmask}
	   		</if>
	   		<if test="accountName!=null">
	   			, AACCOUNT_NAME=#{accountName}
	   		</if>
   		</set>
   		<where>IID=#{id}</where>
    </update>
    <!--     IP address management end -->
    <!--     log management start -->
    <insert id="addAdminLog" parameterType="com.comverse.timesheet.web.bean.system.AdminLog" useGeneratedKeys="true" keyProperty="IID"> 
        INSERT INTO AADMIN_LOG (TTIME,LLEVEL,AACCOUNT,IIP,DDESC) VALUES(#{time},#{level},#{account},#{ip},#{descrition}) 
    </insert>
     <resultMap id="AdminLog" type="com.comverse.timesheet.web.bean.system.AdminLog">
	     <id column="IID" property="id" />
	     <result column="TTIME" property="time" />
	     <result column="LLEVEL" property="level" />
	     <result column="AACCOUNT" property="account" />
	     <result column="IIP" property="ip" />
	     <result column="DDESC" property="descrition" />
	</resultMap>
    <select id="selectAdminLogByNull" resultMap="AdminLog">
        SELECT * FROM AADMIN_LOG ORDER BY TTIME DESC
    </select>
    <!--     log management end -->
    <!--     system config start -->
     <resultMap id="SysConfigure" type="com.comverse.timesheet.web.bean.system.SysConfigure">
	     <id column="IID" property="id" />
	     <result column="NNAME" property="name" />
	     <result column="VVALUE" property="value" />
	     <result column="UUPDATE_TIME" property="updateTime" />
	</resultMap>
    <select id="selectAdminLogByNull" resultMap="AdminLog">
        SELECT * FROM SSYSCONFIG ORDER BY UUPDATE_TIME DESC
    </select>
    <update id="updateAdminLog"  parameterType="com.comverse.timesheet.web.bean.system.SysConfigure" >
    	UPDATE SSYSCONFIG
    	<set>
    		<if test="value!=null">
	   			VVALUE=#{value}
	   		</if>
   		</set>
   		<where>IID=#{id}</where>
    </update>
    <!--     system config end -->
</mapper>  